fastapi
uvicorn[standard]
sqlalchemy
pymysql
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
pandas
numpy
scikit-learn==1.6.1
joblib
mlxtend==0.23.4
prophet
pydantic[email]
python-dotenv
openpyxl
